<header class="site_header">
	<h1>Selfie City - <%= total_selfies %> selfies and counting</h1>
	<ul class='list-inline'>
		<li><a href="/">Home</a></li>
		<li><a href="/city">Cities</a></li>
		<li><a href="/about">About</a></li>
		<li><a href="/contact">Contact</a></li>
		<li><a href="/terms">Terms</a></li>
	</ul>
</header>
