<header>
	<h1><a href="/">Selfie City</a></h1>
	<ul>
		<li><a href="/">Home</a></li>
		<li><a href="/city">Cities</a></li>
		<li><a href="/about">About</a></li>
		<li><a href="/contact">Contact</a></li>
		<li><a href="/terms">Terms</a></li>
	</ul>
</header>