<header class="site_header">
	<h1 class="header_text">Selfie City</h1><p class="selfie_total"><%= total_selfies %> selfies and counting</p>
	<ul class='list-inline'>
		<li><a href="/">Home</a></li>
		<li><a href="/city">Cities</a></li>
		<li><a href="/about">About</a></li>
		<li><a href="/contact">Contact</a></li>
		<li><a href="/terms">Terms</a></li>
	</ul>
</header>
