<%= render '/shared/header' %>
<h2>About Selfie City</h2>
<p>Selfie City was a project developed by Matt Lewis and Tyler Stauss as part of a phase 2 project at Dev Bootcamp. The original project can be seen at http://selfie-city.herokuapp.com. That version was created using the Instagram API, Google API and Sinatra framework. Styling was done by Erin Snyder.</p>
<p>Matt and Tyler decided to recreate the site using some new skills and technologies that we have learned since. This new version of Selfie City is using Ruby on Rails and Angular. We are using the Instagram API again but using the Geocoder GEM instead of Google API for more uniform results. We have also added maps to each of the individual city pages as well as a main map on the homepage that marks where each of the selfies were tagged and displays a little bit of information.
</p>
