<%= render '/shared/header' %>		
<h2>Contact</h2>
<p>If you would like to contact us for any reason, to help you build a site, work with Instagram or Google Maps APIs or to just talk about selfies and their cultural significance, you can contact us here:</p>
<p>Matt Lewis - <%= link_to 'LinkedIn', 'http://www.linkedin.com/pub/matt-lewis/1b/861/a84' %></p>
<p>Tyler Stauss - <%= link_to 'LinkedIn', 'http://www.linkedin.com/in/tylerstauss' %></p>