<h1><%= @city.name %> - <%= @photos.count %> Selfies</h1>
<% @photos.each do |photo| %>
	<div class="image">
		<%= link_to  image_tag(photo.url), photo_path(photo) %>
		<p><%= photo.instagram_text %></p>
	</div>
<% end %>