li {
	list-style: none;
}
ul {
	padding: 0px;
}

header {
	margin-bottom: 20px;
}

body {
	background-image: url(http://subtlepatterns.com/patterns/crossword.png);
	font-family: "Verdana", Sans-Serif;
}

.site_header {
	font-family: "Georgia", Sans-Serif;
	background-color: #334D5C;
	color: #D3D3D3;
	margin-bottom: 0;
}

.header_text {
	font-size: 6em;
}

.selfie_total {
	display: inline-block;
	font-size: 2em;
}



.sidebar {
	height: 100%;
}
#map-wrapper {

  height: 400px;
  padding-bottom: 2%;
}

.city_display {
	margin: 0 20px;
}

.top_city {
	display: inline;
	float:left;
}
.top_cities {
    -moz-column-count: 3;
    -moz-column-gap: 20px;
    -webkit-column-count: 3;
    -webkit-column-gap: 20px;
    column-count: 3;
    column-gap: 20px;
}
#map-canvas {
	width: 100%;
	height: 100%;
}

#bodyContent img {
	width: 100px;
}
.recent-photos {
	padding: 2%;
}

#image {
	float: right;
}

.angular-google-map-container { height: 200px; }

table.form {
	text-align: center;
	margin: 0 auto;
}

table.form tr, table.form td {
	padding: 5px;
}

form.new_comment .label label {
	color: black !important;
}
